<html style="background-image:url('/static/img/red.jpg');">
{% extends "base.html" %}

{% block content %}

    <h1>Research Positions</h1>
    <h2>Available Positions: {{totalPosts}}</h2>

    {% block sort %}
    <form action="" method = "post">
      {{ form.hidden_tag() }}
        <div class='formselect'>
          <div>Sort by {{ form.date }} 
            {{form.rTopics}}
            {{form.language}}
            {% if user.usertype == 'student' %}
            {{form.recommended}}
            {% endif %}
            <br><br>
            {% if user.usertype == 'faculty' %} <!-- Only displays "my posts" for faculty members-->
            {{form.myposts.label}}{{form.myposts}}
            {% endif %}
            {{form.reset.label}}{{form.reset}}
             {{ form.submit }}</div> 
        </div>
    </form>
  {% endblock %}
    
    <div class="postlist">
        {% for post in posts %}
            <div class="post-box">
                {% include '_apps.html' %} 
            </div>
        {% endfor %}
    </div>
{% endblock %}
</html>